@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Playfair+Display&display=swap');


html,
button,
input,
select,
textarea {
    color: #222;
}


body {
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
    /* prevent scrolling */
    background: linear-gradient(to right, #f5ffd8, #ffe2da, #f2eeeb);
}

p{
  background-color:#D9FCFF;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */


img {
    vertical-align: middle;
}

/********************
BASE STYLING
********************/

html, body {
  height: 100%;
  width:100%
}

body {
  background: #D9FCFF;
}



/********************
MAGIC
********************/


#content{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  background-color: transparent;
  background-position: 100% 0;
  background-repeat: no-repeat;
}


.backgroundpic {
  background-image: url(../img/4.svg);
  width: 100%; 
  height: 100%;
  background-size:100%;
  position: absolute;
}

.bulletinhouse{
  position: absolute;
  top: 55%;
  left: 45%;
  text-align: center;
  font-size: 18px;
}
.calendarhouse{
  position: absolute;
  bottom: 15%;
  left: 20%;
  font-size: 18px;
}
.profilehouse{
  position: absolute;
  top: 40%;
  right: 25%;
  font-size: 18px;
}
.infohubhouse{
  position: absolute;
  bottom: 10%;
  right: 21%;
  font-size: 18px;
}
.btn1{
  background-color: rgba(88, 60, 60, 0.907);
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}

.btn1:hover {
  background-color: rosybrown;
  color:white ; 
}