@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Playfair+Display&display=swap');


html,
button,
input,
select,
textarea {
    color: #222;
}


body {
    font-size: 1em;
    height: 100%;
    width:100%;
    overflow:hidden;
    line-height: 1.4;
    background: linear-gradient(to right, #f5ffd8, #ffe2da, #f2eeeb);
}

p{
  background-color:transparent;
  position:fixed;
  color:black;
  font-weight:bold;
  top:20vh;
  margin:auto;
  padding:10px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */


.backgroundpic {
  background-image: url(../img/profilefinal.svg);
  background-repeat: no-repeat;
  width: 100%; 
  height: 100%;
  background-size:100%;
  position: absolute;
  background-color: #b9e38d;
}

.bulletinhouse{
  position: absolute;
  top: 30vh;
  left: 35vw;
}

.calendarhouse{
  position: absolute;
  top:60vh;
  left:6vw;
} 
.profilehouse{
  position: absolute;
  top: 20vh;
  left:60vw;
 
}
 .infohubhouse{
  position: absolute;
  top:65vh;
  left:70vw;
} 
/* .btn1{
  background-color: rgba(88, 60, 60, 0.907);
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}

.btn1:hover {
  background-color: rosybrown;
  color:white ; 
} */
