#podium0, #podium1, #podium2 {
    width: 10vw;
    min-width: 110px;
    /* overflow-wrap: break-word; */
}
#podium0 { /* gold */
  background: linear-gradient(to right,#e6be8a, #FCF6BA, #e6be8a);
    height: 70vh;
}
#podium1 { /* silver */
  background: linear-gradient(to right,#c0c0c0, #fcfcfc, #c0c0c0);
    height: 50vh;
}
#podium2 { /* bronze */
  background: linear-gradient(to right,#bc7c77, #fcd5be, #bc7c77);
    height: 30vh;
}
td {
    height: 80vh;
    vertical-align: bottom;
    padding: 5px;
    text-align: center;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 5s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

select {
  width:50% ; 
  text-align: center;
}

