body{
    background-color: rgba(235, 216, 195, 1);
    color: rgba(117, 89, 125, 1);
    font-family: Roboto, sans-serif;
    margin: auto;
}
nav{
    background-color: rgba(255, 238, 238, 1);
}
.nav-link {
    color: rgba(117, 89, 125, 1);
    font-weight:bold;
}
.nav-link:hover {
    text-decoration: underline;
    background-color: rgba(176, 184, 180, 255) ;
}
.textbox1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    margin:5%;
    padding-top: 5px;
    color:black;
}
.topics{
   margin:5%;
    padding-top: 2px;
}
.img-with-text > img{
    border-radius: 50%;
    margin: 20px;
    position: relative; 
    width: 200px;
    height: 200px; 
    overflow: hidden; 
    background-color:white
}
.column1{
   display:flex;
    padding: 5px;
}
.img-with-text{
    text-align: center;
    color:black;
    font-weight: bold;
}