body{
    background-color: rgba(235, 216, 195, 1);
    color: rgba(117, 89, 125, 1);
    font-family: Roboto, sans-serif;
    margin: auto;
}
nav{
    background-color: rgba(255, 238, 238, 1);
}
.nav-link {
    color: rgba(117, 89, 125, 1);
    font-weight:bold;
}
.nav-link:hover {
    text-decoration: underline;
    background-color: rgba(176, 184, 180, 255) ;
}
.textbox1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    margin:10%;
    padding-top: 2%;
    color:black;
}
.topics{
    margin:10%;
    padding-top: 2%;
}
h3{
    color:maroon;
    font-family: 'Times New Roman', Times, serif;
}