@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

$imageIds1: 'pexels-ivan-samkov-8504239.jpg', 'pexels-anna-shvets-11369284.jpg', 'pexels-william-fortunato-6393383.jpg';

$imageIds2: 'monika-kozub-Q_Avkw0mcfw-unsplash.jpg', 'tamanna-rumee-TOigBgviy_g-unsplash.jpg', 'pawel-czerwinski-NttQeISxYko-unsplash.jpg';

$bp-md: 600px;
$bp-lg: 800px;

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  box-sizing: border-box;
}

body {
  /* background: #466368; */
  background: linear-gradient(to right, #f5ffd8, #ffe2da, #f2eeeb);
  border-radius: 6px;
  height: 120px;
  font-family: 'Mulish', sans-serif;
  margin: 10px
}

// .body {
//   display: grid;
//   place-items: center;

// }

// .pageContent {
//   display: grid;
//   grid-gap: 1rem;
//   padding: 1rem;
//   max-width: 1024px;
//   margin: 0 auto;
//   font-family: var(--font-sans);
  
//   @media (min-width: $bp-md) {
//     grid-template-columns: repeat(2, 1fr);
//   }
  
//   @media (min-width: $bp-lg) {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

.card1 {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  
  @media (min-width: $bp-md) {
    height: 350px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  
  @each $id in $imageIds1 {
    $i: index($imageIds1, $id);
    
    &:nth-child(#{$i}):before {
      background-image: url(../img/#{$id});
    }
  }
}

.card2 {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(255, 254, 254);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  
  @media (min-width: $bp-md) {
    height: 350px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  
  @each $id in $imageIds2 {
    $i: index($imageIds2, $id);
    
    &:nth-child(#{$i}):before {
      background-image: url(../img/#{$id});
    }
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  
  > * + * {
    margin-top: 1rem;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  
}

// .copy {
//   font-family: var(--font-serif);
//   font-size: 1.125rem;
//   font-style: italic;
//   line-height: 1.35;
// }

.btnn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: rosybrown;
  border: none;
  
  &:hover {
    background-color: lighten(rgb(88, 60, 60), 5%);
  }
  
  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: $bp-md) {
  .card:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 4.5rem));
    
    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform var(--d) var(--e),
        opacity var(--d) var(--e);
    }
  }
  
  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
    }
  }
  
  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}

.nav-link {
  color: rgb(65, 62, 62, 0.7);
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  /* font-style: italic; */
  position:relative;
  z-index: 1;
  padding: 8px;
  display:inline-block;

}

/* nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
} */
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  /* text-transform: uppercase; */
  margin: 0 10px;
}

.nav-link,
.nav-link:after,
.nav-link:before {
transition: all .7s;
}
nav ul li a:hover {
color: rgb(65, 62, 62);
}

/* .nav-link:hover {
  background-color: rgba(176, 184, 180, 255);
} */

.nav-link::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  /* background: #ecced1; */
  /* background: linear-gradient(to right, #eecda3ad, #ef629f56);  */
  background-color: rgba(188, 143, 143, 0.392) ;
  opacity: 0 ;
  border-radius: 10px;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.nav-link:hover::after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: rgb(65, 62, 62);
  text-align: center;

}

.footer {
  bottom: 0;
  width: 100%;
  /* height: 200px; */
}


footer {
padding-top: 15px;
padding-bottom: 15px;
background-color: #fff0eb;
color: rgb(65, 62, 62);
font-family: 'Mulish', sans-serif;
}

footer a {
color: #999;
text-decoration:none;
}

footer a:hover, footer a:focus {
color: rgb(65, 62, 62);
text-decoration:none;
/* border-bottom:1px dotted rosybrown; */
}

footer .form-control {
  background: linear-gradient(to right, #eecda3ad, #ef629f56);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: rgb(65, 62, 62);
  padding: 0.7em 1em;
}

.button {
  background-color: rosybrown;
  border: none;
  color: white;
  padding: 5px 20px;
  
  /* text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; */
}

button:hover {
  background-color: rgb(88, 60, 60);
}

.before {
  margin-bottom: 100px;
}

.contactUs {
  color: rgb(65, 62, 62);
  font-weight: bold; 
}

h3  {
  font-family: 'Playfair Display', serif;
  color: rgb(65, 62, 62);
  text-align: center;
  margin-top: 10vh;
}

p {
  margin-bottom: 10vh;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.center {
  // margin-top: 30vh;
  margin-bottom: 15vh ; 
  display: flex;
  justify-content: center;
  align-items: center;
}